@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
@import "tailwindcss";

:root {
    /*--font-primary:"Fuzzy Bubbles", cursive;*/
    /*--font-primary:"Indie Flower", cursive;*/
    /*--font-primary:"Mali", cursive; #775757*/
    --font-primary: "Playpen Sans", cursive;
    --font-primary-color: #882e6d;

    --header-text-color: #ffffff;
    /**/
    --header-shadow-up-color: #ffffff;
    --header-shadow-color: #F069CB;

    --background: #FF87D0;
    /*También es el color de contactame, y el las letras del hover el header*/
    --title-type: "DynaPuff", cursive;
    --negro:rgb(252, 248, 248); 


}

body {
    font-family: var(--font-primary);
    color: var(--font-primary-color);
    font-weight: 500;
}

.titulo-puntadas {



    color: #FFB8E2;

    -webkit-text-stroke: 1px rgb(255, 212, 229);

    text-shadow:
        0 4px 0 #e77ba7,
        /*0 10px 18px rgba(239, 124, 216, 0.1);*/
        0 10px 18px rgba(239, 124, 216, 3);

    
}

.puntadas-negro{
    color: #FFB8E2;

    -webkit-text-stroke: 1px rgb(255, 212, 229);

    text-shadow:
        0 4px 0 #e77ba7,
        /*0 10px 18px rgba(239, 124, 216, 0.1);*/
        0 10px 18px rgba(0, 0, 0, 0.6);
}



.gradiente-borde{
    background: linear-gradient(
        to right,
        #FFD6E7,
        #FFF0B8,
        #D7F7D0,
        #D6E8FF
    );
}

.gradiente-borde2{
    background: linear-gradient(
        to right,
        #f1acc9,
        #f2e3ab,
        #beebb4,
        #bed5f2,
        #ebbadf,
        #c4eaf3,
        #f7c7ca
    );

    
}

.recorte{
    -webkit-background-clip: text;
    background-clip: text;
}



.gradiente-borde-text{
    background: linear-gradient(
        to right,
        #FFD6E7,
        #FFF0B8,
        #D7F7D0,
        #D6E8FF
    );

    -webkit-background-clip: text;
    background-clip: text;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    width: max-content;
    display: flex;
    animation: marquee 25s linear infinite;
}

::selection {
    background: #ff7cc8;
    color: white;
}

::-moz-selection {
    background: #ff7cc8;
    color: white;
}

@keyframes flotar {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}
/*@keyframes flotar {
    0% {
        transform: translate(0px, -3px);
    }

    25% {
        transform: translate(10px, 25px);
    }

    50% {
        transform: translate(-10px, 50px);
    }

    75% {
        transform: translate(10px, 75px);
    }

    100% {
        transform: translate(-10px, 100px);
    }
}*/
/*Duracion igual para todos*/
/*.corazon-animation {
    animation: flotar 15s infinite linear;
}*/